body {
	background-color:#c1c0c0;
}

h1, h2 {
	text-align: center;
}

p {
	margin:0px;
}


.Logo {
	width:324px;
	height:331px;
	display:block;
	margin:20px auto;
	background-image: "Logo.jpg";
}

h3>a {
	color:#134984;
}

a:hover {
	color:#c02f44;
}
